*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.head{
    margin: 0;
    padding: 20px;
    background-image: url('MainImg.jpg');
    background-color: rgba(0, 0, 0, 0.8);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.container{
    position: relative;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0.8;
}


.navbar{
    position: absolute;
    top: 10px;
    right: 30px;
    padding: 10px;
    display: flex;
    align-items: center;
}


.navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

.navbar li{
    margin: 20px;
    text-decoration: none;
}

.navbar a{
    margin-top: 50px;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
}

#DropDown
{
    font-size: 20px;
    text-decoration: none;
    border: none;
    color: #fff;
    background-color: rgba(255, 255, 255, 0) ;
}

.frst-H{
    position: absolute;
    color: white;
    font-size: 27px;
    margin: 20px;
    height: 260px;
}

.title{
    color: white;
    font-size: 35px;
    position: absolute;
    height: 150px;
    margin: 5px;
}

.short-H{
    color: white;
    font-size: 27px;
    position: absolute;
    height: 35px;
    margin: 5px;
}

.get{
    color: white;
    position: absolute;
    padding-top: 15px;
    padding-bottom: 10px;
    bottom: 230px;
    height: 25px;
    width: 180px;
    text-align: center;
    justify-content: center;
    border: 1px solid white;
    border-radius: 35px;
    font-size: 16px;
}


.side-h{
    color: white;
    position: absolute;
    font-size: 30px;
    margin: 10px;
    padding: 10px;
    top: 20px;
    left: 30px;
}

.navbar a:hover{
    border-bottom: 5px solid red;
}

.get:hover{
    background-color: rgb(192, 93, 93, 0.5);
}

#div2{
    height: 550px;
}
.Services{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin: 30px;
}

.ser-button{
    position: relative;
    justify-content: center;
    top: 50px;
    left: 600px;
    padding: 5px;
    width: 130px;
    height: 40px;
    color: rgb(184, 24, 51);
    border: 1px solid pink;
    background-color: pink;
    border-radius: 25px;
}

.ser-h{
    position: relative;
    text-align: center;
    padding: 5px;
    font-size: 35px;
    top: 60px;
}

span{
    color: rgb(184, 24, 51);
}

.ser-dscrp{
    position: relative;
    text-align: center;
    padding: 5px;
    font-size: 20px;
    top: 70px;
}

.ser-divs{
    position: absolute;
    display: flex;
}


#ser-content{
    position: relative;
    justify-content: space-evenly;
    border: 1px solid white;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    top: 250px;
    margin: 40px;
    padding: 30px;
    height: auto;
}

i{
    color: rgb(185, 24, 51);
}

#box-h{
    text-align: center;
    margin: 10px;
}

#box-p{
    text-align: center;
    padding: 20px;
    text-indent: 20px;
    word-spacing: 5px;
    font-size: 20px;
}

#div3{
    height: 1550px;
}

.Portfolio{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin: 30px;
}

#port-nav{
    height: 50px;
    display: flex;
    justify-content: center;
    font-size: 30px;
}

.port-navbt ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin-top: 90px;
}

.port-navbt li a{
    
    font-size: 20px;
    text-align: center;
    color: rgb(26, 26, 25);
    padding: 10px;
    margin: 10px;
    border: 1px solid rgb(145, 145, 141);
    background-color: rgb(145, 145, 141);
    border-radius: 25px;
    border-bottom: none;
    text-decoration: none;
}

.port-navbt a{
    width: 50px;
    height: 25px;
}

.port-navbt a:hover{
    background-color: rgb(185, 24, 51);
    color: white;
}

.port-imgs{
    position: relative;
    justify-content: space-evenly;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 100px;
    
}

.port-imgs img{
    padding: 10px;
    height: 400px;
    width: 400px;
}

#div4{
    height: 300px;
}

.team-imgs{
    
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.member{
    width: 300px;
    height: 400px;
    padding: 0;
    margin: 5px;
    border: 1px solid white;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    top: 400px;
}

.member img{
    width: 300px;
    height: 300px;
}

.member h2{
    padding: 5px;
    text-align: center;
}

.member h5{
    padding: 5px;
    text-align: center;
}

.contact{
    height: 750px;
}


#con-divs{
    margin: 30px;
    width: 400px;
}

#con-divs h2{
    padding-left: 50px;
    padding-top: 5px;
}

#loc-icon{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 35px;
    margin-right: 15px;
    width: 30px;
    height: 30px;
    border: 1px solid pink;
    background-color: pink;
    border-radius: 50%;
}

#con-divs p{
    padding-left: 50px;
    padding-top: 5px;
}

#name{
    height: 40px;
    width: 380px;
    margin: 20px;
    padding: 5px;

}

#name::placeholder{
    font-size: 20px;
}

#sub{
    height: 40px;
    width: 820px;
    margin: 20px;
    padding: 5px;
}

#sub::placeholder{
    font-size: 20px;
}

#msg{
    width: 820px;
    height: 150px;
    margin: 20px;
    padding: 5px;
}

#msg::placeholder{
    font-size: 20px;
    text-align: left;
}

#send{
    height: 40px;
    width: 150px;
    border-radius: 25px;
    font-size: 17px;
    color: white;
    background-color: rgb(185, 24, 51);
    border: 1px solid rgb(184, 24, 51);
    margin: 5px;
    margin-left: 330px;
}

.con-data{
    display: flex;
    flex: row;
    padding-top: 150px;
    justify-content: space-between;
}

#con-info{
    width: 1000px;
    
}

.form{
    width: 2000px;
    
}

@media (max-width: 768px) {
    .head{
        height: 400px;
    }

    .frst-H{
        font-size: 20px;
        height: 150px;
    }

     .title{
        font-size: 25px;
    }
    
    .short-H{
        font-size: 20px;
    } 
    
    .get{
        font-size: 14px;
        bottom: 150px;
    }

    .side-h{
        font-size: 20px;
    } 
    
    .ser-button{
        top: 30px;
        left: 300px;
    }

    .ser-h{
        font-size: 25px;
    }
    
    #ser-content{
        top: 150px;
        margin: 10px;
        padding: 20px;
    }

    #box-h{
        font-size: 18px;
    }

    #box-p{
        font-size: 16px;
    }

    #port-nav{
        font-size: 24px;
        margin-bottom: 30px;
    }

    .port-navbt li a{
        font-size: 16px;
        padding: 5px 10px;
        margin: 5px 10px;
    }

    .port-imgs{
        top: 100px;
    }

    .port-imgs img{
        width: 250px;
        height: 250px;
    }

    .team-imgs img{
        width: 250px;
        height: 250px
    }

    .member img{
        width: 250px;
        height: 250px;
    }

    .member{
        width: 350px;
        height: 400px;
    }



    .member h2{
        font-size: 24px;
    }

    .member h5{
        font-size: 16px;
    }

    #con-divs{
        margin: 100px;
    }

    #con-divs h2{
        font-size: 24px;
    }

    #loc-icon{
        width: 20px;
        height: 20px;
    }

    #sub{
        width: 400px;
        height: 40px;
        margin: 20px;
        padding: 5px;
    }

    #msg{
        height: 100px;
        width: 400px;
        margin: 20px;
        padding: 5px;
    }

    #send{
        font-size: 14px;
        height: 30px;
        width: 130px;
        margin: 5px;
        margin-left: 200px;
    }

    .con-data{
        flex-direction: column;
        align-items: center;
    }

    .con-info{
        width: 100%;
    }

    .form{
        width: 100%;
    }
}
